body {
    background-color: white;
}

menu li {
    display: inline;
}
    menu li::after {
        content: " |";
    }

    menu li:last-of-type::after {
        content:"";
    }

.contact-form{
    border: 1px solid blue;
    padding: 5px
}
    .contact-form label {
        font-size: 18px;
        width: 100px;
        display: inline-block;
    }
    .contact-form input,textarea {
        font-size: 18px;
        width: 200px;
    }

        .contact-form input[type=submit] {
            width: auto;
        }